@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap");

:root {
  --fontText: "Lato", sans-serif;
  --fontCode: "Roboto Mono", monospace;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0, #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
}

.datos {
  padding: 4% 2%;
}

.boxItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.boxItems h2 {
  font-family: var(--fontCode);
}

#createdUser {
  background-color: #322d38;
  max-width: 350px;
  width: 100%;
  border-style: double;
  border-width: 6px;
  border-color: white;
  border-radius: 15px;
  padding: 1% 0;
  color: white;
  font-family: var(--fontCode);
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

#createdUser:hover {
  background-color: white;
  border-color: #322d38;
  color: #322d38;
}

.caja-codigo {
  max-width: 1200px;
  margin: 3% auto;
}

.top-barra {
  background-color: #322d38;
  text-align: start;
  padding: 10px 12px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 6px 12px 1px rgba(50, 45, 56, 0.51);
}

circle {
  border-radius: 50%;
  padding: 2px 8px;
  color: transparent;
  margin-right: 3px;
}

circle:nth-child(1) {
  background-color: #17d42a;
}

circle:nth-child(2) {
  background-color: #696d6a;
}

circle:nth-child(3) {
  background-color: #ff442b;
}

.top-body {
  background-color: #4b4751;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 10px 12px;
  color: white;
  font-family: var(--fontCode);
  font-size: 14px;
  line-height: 16px;
  display: grid;
}

.top-body h2 {
  font-size: 20px;
  font-family: var(--fontCode);
}

table#tableData.table.table-bordered {
  --bs-table-color: #fff;
  --bs-table-bg: #4b4751;
}

.top-body p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: #fff;
  --bs-modal-bg: rgb(75, 71, 81, 0.8)
}

.form-label-input {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}

.form-label-input label {
  font-family: var(--fontCode);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
}

.form-label-input input {
  border: 1px solid #DCDCDC;
  border-radius: 6px;
  height: 45px;
  background-color: transparent;
  padding: 12px;
  color: #D3D3D3;
  font-family: var(--fontText);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.form-label-input input::placeholder {
  color: #D3D3D3;
}

.form-label-input input:focus {
  outline: none;
}



@media screen and (max-width: 767px) {
  .boxItems h2 {
    font-size: 20px;
  }

  .boxItems {
    margin: 12% 1rem 2%;
  }

  #createdUser:hover {
    padding: 4% 0;
    width: 100%;
    margin: 0 10px;
  }

  .caja-codigo {
    max-width: 310px;
    margin: 10% auto
  }

  .top-barra {
    background-color: #322d38;
    text-align: start;
    padding: 6px 6px;
  }

  circle {
    padding: 0 3px;
  }

  .top-body {
    padding: 12px 8px;
    font-size: 11px;
    line-height: 14px;
    overflow: hidden;
    overflow-x: scroll;
  }

}

.avisodeprivacidad {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: #000000;
  color: #f2f2f2;
}

.avisodeprivacidad p {
  color: var(--color-six);
  font-family: var(--fontCode);
}

.avisodeprivacidad a {
  font-family: var(--fontCode);
  cursor: pointer;
  color: #f2f2f2;
}

.avisodeprivacidad a:hover {
  color: #f2f2f2;
  font-weight: 800;
  text-decoration: none;
  font-style: italic;
}